<%= form_with(model: @post, url: public_posts_path, local: true) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, class: "form-control" %>
          <% if @post.errors.has_key?(:title) %>
            <p class="error"><%= @post.errors[:title].first %></p>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :content, "内容" %>
          <%= f.text_area :content, class: "form-control" %>
          <% if @post.errors.has_key?(:content) %>
            <p class="error"><%= @post.errors[:content].first %></p>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :latitude, "緯度" %>
          <%= f.text_field :latitude, value: @post.latitude, id: :latitude, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :longitude, "経度" %>
          <%= f.text_field :longitude, value: @post.longitude, id: :longitude, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :image, "画像のアップロード" %>
          <%= f.file_field :spot_image, class: "form-control-file" %>
        </div>
        <div class="form-group">
          <%= f.submit '投稿する', class: "btn btn-primary" %>
        </div>
      </div>
      <div class="col-md-6">
        <h2>地図</h2>
        <div class="form-group">
          <input id="address" type="textbox" value="東京駅" class="form-control">
        </div>
        <div class="form-group">
          <input type="button" value="検索" onclick="codeAddress()" class="btn btn-secondary">
        </div>
        <p>マーカーをドラッグ＆ドロップで位置を調整できます。</p>
        <div id="map"></div>
      </div>
    </div>
  </div>
<% end %>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder();

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: 35.6803997, lng:139.7690174},  //東京
    zoom: 15,

  });
}

//検索後のマップ作成
let geocoder
let aft
function codeAddress(){
  let inputAddress = document.getElementById('address').value;
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
        //マーカーが複数できないようにする
        if (aft == true){
            marker.setMap(null);
        }

        //新しくマーカーを作成する
        map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true	// ドラッグ可能にする
        });

        //二度目以降か判断
        aft = true

        //検索した時に緯度経度を入力する
        document.getElementById('latitude').value = results[0].geometry.location.lat();
        document.getElementById('longitude').value = results[0].geometry.location.lng();

        // マーカーのドロップ（ドラッグ終了）時のイベント
        google.maps.event.addListener( marker, 'dragend', function(ev){
            // イベントの引数evの、プロパティ.latLngが緯度経度
            document.getElementById('latitude').value = ev.latLng.lat();
            document.getElementById('longitude').value = ev.latLng.lng();
        });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>