<div class="container">
  <div class="row">
    <div class="col-lg-3 offset-lg-1">
      <h3 class="bg-light text-center">投稿詳細</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5 text-center">
      <%= image_tag @post.get_image, size: "300x200" %>
    </div>

    <div class="col-lg-6 offset-lg-1 text-left">
      <table>
        <tr>
          <th>投稿タイトル</th>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <th>内容</th>
          <td><%= @post.content %></td>
        </tr>
        <tr>
          <th>投稿日時</th>
          <td><%= @post.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
      </table>
    </div>
  </div>

  <div>
    <p>コメント件数: <%= @post.comments.count %></p>
    <% @post.comments.each do |comment| %>
      <% if comment.user.profile_image.attached? %>
        <%= image_tag comment.user.profile_image %>
      <% else %>
        <%= image_tag 'default-image.jpg' %>
      <% end %>
      <%= comment.user.account_name %>
      <%= comment.created_at.strftime('%Y/%m/%d') %>
      <%= comment.content %>
    <% end %>
  </div>

  <div>
    <%= form_for [@post, Comment.new], url: public_post_comments_path(post_id: @post.id) do |f| %>
      <%= f.text_area :content, rows: '5', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>

  <div class="actions col-xs-9 text-center">
    <%= link_to "編集する", edit_public_post_path(@post), class: "btn btn-success" %>
  </div>
</div>
