<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
      <h3 class="bg-light text-center">会員情報編集</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <%= form_with model: @user, url: public_users_my_page_path, method: :patch, html: { multipart: true } do |f| %>
        <table class="table table-borderless">
          <tr>
            <td>アカウント名</td>
            <td><%= f.text_field :account_name, class: "form-control" %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= f.text_field :email, class: "form-control" %></td>
          </tr>
          <tr>
            <td>自己紹介</td>
            <td><%= f.text_area :user_info, class: "form-control" %></td>
          </tr>
          <tr>
            <td>プロフィール画像</td>
            <td><%= f.file_field :profile_image, class: "form-control-file" %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "編集内容を保存", class: "btn btn-success" %></td>
          </tr>
        </table>
      <% end %>
      <a class="btn btn-danger text-center" href="<%= public_users_check_path %>" role="button">退会する</a>
    </div>
  </div>
</div>
